<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" style="max-height: 5%; margin-top: -50px; height: 100px;"
      src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">{{room.roomNumber}}</h5>
        <!-- Product price-->
        Hotel - {{room.name}}
        <br>People: {{room.availablePpl}}
        <br>Nights: {{room.nights}}
        <br />Price per night: {{room.price}}$
        <br />Total price: {{price()}}$
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="btns d-flex justify-content-between">
        <a (click)="editHotelRoom()" style="background: #9c9fa4; border: none; " class="btn btn-primary">Edit Room</a>
        <a (click)="deleteHotel()" style="background: #9c9fa4; border: none;" class="btn btn-danger">Delete Room</a>
      </div>
    </div>